{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gss_stegano</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="#"><i class="glyphicon glyphicon-qrcode"></i>GSS ( Gi Woong Secret Service )</a>
                <button class="navbar-toggle collapsed hidden-xs hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1" style="margin-top:2%;">
                    <h1 style="color:white;text-shadow:#999999 5px 5px 3px;margin-top:10px;">ㄱㅣ ㅇㅜㅇ</h1>
                    <h1 style="color:white;text-shadow:#999999 5px 5px 3px;margin-top:10px;">SECRET SERVICE</h1><a class="btn btn-primary btn-lg" role="button" href="#" id="btn_hide_msg" style="width:90%;margin-right:5%;margin-left:5%;margin-bottom:2%;margin-top:6%;">HIDE YOUR MESSAGE TO IMAGE</a><a class="btn btn-success btn-lg" role="button"
                    href="#" id="btn_extract_msg" style="width:90%;margin-right:5%;margin-bottom:2%;margin-left:5%;">EXTRACT MESSAGE FROM IMAGE</a></div>
                <div class="col-md-4 phone-preview" id="hide_mode_view" style="margin:80px 0 0 0;border:1px solid white;border-radius:8px;margin-top:2%;text-align:center;">
                    <h1 style="font-size:40px;color:white;text-shadow:#888888 4px 4px 2px;">&lt;HIDE MODE&gt; </h1>
                    <div style="width:100%;height:100%;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="mode" value=0>
                            <label for="input_img" style="color:white;">Uplad Your Image</label>
                            <input type="file" name="input_img" id="input_img" style="color:white;margin-right:25%;margin-left:25%;width:50%;">
                            <label for="input_msg" style="color:white;width:100%;margin-top:20px;">MESSAGE </label>
                            <input type="text" name="input_msg" id="input_msg" placeholder="ENTER MESSAGE" style="width:100%;">
                            <label for="input_key" style="color:white;width:100%;margin-top:20px;">KEY </label>
                            <input type="text" name="input_key" id="input_key" placeholder="ENTER KEY" style="width:100%;">
                            <button class="btn btn-default btn-lg" type="submit" style="margin-top:30px;margin-right:5%;margin-left:5%;width:90%;background-color:rgb(235,73,73);margin-bottom:30px;">GET ETCHED IMAGE</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 phone-preview" id="extract_mode_view" style="margin:80px 0 0 0;border:1px solid white;border-radius:8px;margin-top:2%;text-align:center;display:none;">
                    <h1 style="font-size:38px;color:white;text-shadow:#888888 4px 4px 2px;width:100%;">&lt;EXTRACT MODE&gt;</h1>
                    <div style="width:100%;height:100%;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="mode" value=1>
                            <label for="input_img" style="color:white;">Uplad Your Image</label>
                            <input type="file" name="input_img" style="color:white;width:50;margin-right:25%;margin-left:25%;margin-top:10px;margin-bottom:10px;">
                            <label for="input_key" style="color:white;width:100%;margin-top:15px;">KEY </label>
                            <input type="text" name="input_key" id='input_key' placeholder="ENTER KEY" style="width:80%;">
                            <button class="btn btn-default btn-lg" type="button" style="margin-top:30px;margin-left:0;width:80%;background-color:rgb(235,73,73);margin-bottom:30px;">GET ETCHED IMAGE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">GI WOONG SECRET SOLDIERS(GSS )</h2>
        <blockquote>
            <p>그 때 기웅님이 GI WOONG 이 아니라 KI WOONG 인줄 알았더라면 KSS 로 그룹이름을 지었을 것이다. </p>
            <footer> 31337사단 5 중대장 류민수 </footer>
        </blockquote>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>GSS © 2017</h5></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={% static "js/gss.js" %}></script>
</body>

</html>
